.square-image-container {
 position: relative;
 width: 100%;
 padding-bottom: 100%;
 overflow: hidden;
}

.square-image-container img {
 position: absolute;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.small {
 font-size: 0.8em; 
}

.product-list-container{
  padding-top: 150px;
  padding-bottom: 150px;
}