.price {
 font-size: 1.2rem;
 font-weight: bold;
 color: #333;
}

.rating {
 font-size: 1.5rem;
 color: #eed260d6;
 margin-bottom: 10px;
}

button{
 border: none;
 font-size: 1.2rem;
 background-color: transparent;
}
.quantity {
 font-size: 1.2rem;

 margin: 0 10px;
}

.product-details-container {
 padding-top: 150px;
 padding-bottom: 150px;
}

.product-text{
 padding: 10px;
}

.square-image-container img {
 position: absolute;
 width: 100%;
 height: 100%;
 object-fit: cover;
}